.title {font-family: verdan; font-size: 50px;
    color: white;font-weight: normal;text-align: center;}
.title2 {font-family: verdan; font-size: 16px;
    color: aquamarine;text-align: center;}
body {background-color: black;}
.video {text-align: center;}
.balls {text-align: center;font-family: Verdana;font-size: 42;font-weight: 300;color:white;}
.ass {font-size: 21;
    color: gray;}
.copyright {text-align: right;color: gray;}